Balavardhan Reddy Kotla
Student Id - 700765621

**Q5**

In [1]:
#(a)To Manipulate a string entered as characters

# Input the string as characters
char_list = list(input("Enter the string 'python': "))

# To Delete at least 2 characters
del char_list[0]
del char_list[0]
# Reverse the resultant list
char_list.reverse()

# Join back to string and print
result_string = ''.join(char_list)
print("Modified and reversed string:", result_string)


# (b): Arithmetic operations on two numbers

# Input two numbers from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing 4 arithmetic operations
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)

if num2 != 0:
    print("Division:", num1 / num2)
else:
    print("Division: Cannot divide by zero")

Enter the string 'python': python
Modified and reversed string: noht
Enter first number: 5
Enter second number: 6
Addition: 11.0
Subtraction: -1.0
Multiplication: 30.0
Division: 0.8333333333333334

**Q6**

In [4]:

sentence = input("Enter a sentence: ")

# Replace 'python' with 'pythons'
modified_sentence = sentence.replace("python", "pythons")

# Print the modified sentence
print("Modified sentence:", modified_sentence)

Enter a sentence: I love playing with python
Modified sentence: I love playing with pythons

**Q7**

In [9]:
# class score
score = float(input("Enter your class score (0-100): "))

# Determine letter grade using if statements
if score >= 90 and score <= 100:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
elif score >= 0:
    grade = 'F'
else:
    grade = 'Invalid score'

# Print the result
print("Your grade is:", grade)

Enter your class score (0-100): 99
Your grade is: A

**Q8**

In [14]:
x = [23, 'Python', 23.98]
types = [type(item) for item in x]

print(x)

print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

**Q9**

In [25]:

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Find the length of the set IT_companies
print("1.Length of IT_companies:", len(IT_companies))

# 2. Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print("2.After adding Twitter:", IT_companies)

# 3. Insert multiple IT companies at once to the set IT_companies
IT_companies.update(['Samsung', 'Intel', 'Cisco'])
print("3.After adding multiple companies:", IT_companies)

# 4. Remove one of the companies from the set IT_companies
IT_companies.remove('Oracle')  # You can choose any one
print("4.After removing Oracle:", IT_companies)

# 5. Difference between remove and discard
print("\n4.Difference between remove and discard:")
print("- remove() throws an error if the item doesn't exist.")
print("- discard() does nothing if the item doesn't exist.")

# Demonstration
# IT_companies.remove('Netflix')  # Will raise KeyError if not found
IT_companies.discard('Netflix')   # Will NOT raise error even if not found

# 6. Join A and B (Union)
joined_AB = A.union(B)
print("\n6.Join of A and B:", joined_AB)

# 7. Find A intersection B
print("7. A ∩ B:", A.intersection(B))

# 8. Is A subset of B?
print("8. Is A subset of B?", A.issubset(B))

# 9. Are A and B disjoint sets?
print("9. Are A and B disjoint?", A.isdisjoint(B))

# 10. Join A with B and B with A (union again — same result)
print("10. A ∪ B:", A.union(B))
print("    B ∪ A:", B.union(A))

# 11. Symmetric difference between A and B
print("11.Symmetric difference (A △ B):", A.symmetric_difference(B))

# 12. Delete the sets completely
del A
del B
# print(A)  # Uncommenting this will raise a NameError

# 13. Convert the ages to a set and compare lengths
age_set = set(age)
print("\nOriginal age list:", age)
print("Converted age set:", age_set)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

1.Length of IT_companies: 7
2.After adding Twitter: {'Apple', 'Amazon', 'IBM', 'Google', 'Twitter', 'Oracle', 'Facebook', 'Microsoft'}
3.After adding multiple companies: {'IBM', 'Twitter', 'Oracle', 'Cisco', 'Intel', 'Google', 'Samsung', 'Apple', 'Amazon', 'Facebook', 'Microsoft'}
4.After removing Oracle: {'IBM', 'Twitter', 'Cisco', 'Intel', 'Google', 'Samsung', 'Apple', 'Amazon', 'Facebook', 'Microsoft'}

4.Difference between remove and discard:
- remove() throws an error if the item doesn't exist.
- discard() does nothing if the item doesn't exist.

6.Join of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
7. A ∩ B: {19, 20, 22, 24, 25, 26}
8. Is A subset of B? True
9. Are A and B disjoint? False
10. A ∪ B: {19, 20, 22, 24, 25, 26, 27, 28}
    B ∪ A: {19, 20, 22, 24, 25, 26, 27, 28}
11.Symmetric difference (A △ B): {27, 28}

Original age list: [22, 19, 24, 25, 26, 24, 25, 24]
Converted age set: {19, 22, 24, 25, 26}
Length of age list: 8
Length of age set: 5