**Balavardhan Reddy Kotla**
**700765621**

**Q1**  
* Counter.count refers to a class variable — shared across all instances.

* self._count is an instance variable — unique to each object.

In [13]:
class Counter:
    count = 0  # Class variable

    def __init__(self):
        self._count = 0

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, class count: {Counter.count}"


a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())  # Output: Instance count: 2, class count: 3
print(b.get_counts())  # Output: Instance count: 1, class count: 3

Instance count: 2, class count: 3
Instance count: 1, class count: 3

Counter.count: incremented 3 times in total (shared)

a._count: incremented 2 times

b._count: incremented once

**Q2**

In [14]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

* The sum_all function only accepts one argument args, but we are passing multiple values (sum_all(1, 2, 3)) — this causes a TypeError.

* The return statement is not indented.

* You should use *args to allow a variable number of arguments.

**Q3**

In [16]:
def first_word(word_list):
    word_list.sort()
    return word_list[0]

# Example
students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

**Q4**

In [18]:
class Employee:
    emp_count = 0
    salary_total = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.emp_count += 1
        Employee.salary_total += salary

    @classmethod
    def average_salary(cls):
        return cls.salary_total / cls.emp_count

class FulltimeEmployee(Employee):
    pass

# Test
e1 = Employee("John", "Smith", 50000, "HR")
e2 = FulltimeEmployee("Jane", "Doe", 60000, "IT")

print("Average Salary:", Employee.average_salary())
print("Total Employees:", Employee.emp_count)

Average Salary: 55000.0
Total Employees: 2